{% load static %}

<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SEE STATUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link id="css" rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}"/>
		

    </head>

    <body onload="myFunction2()">
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
		<script>
		function myFunction() {
			var element = document.getElementById("stats");
			element.classList.toggle("mystyle");
		}
		
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight){
					panel.style.maxHeight = null;
				} 
				else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				} 
			});
		}		
		</script>
		<script>
			var myVar;

			function myFunction2() {
				myVar = setTimeout(showPage, 3000);
			}

			function showPage() {
				document.getElementById("loader").style.display = "none";
				document.getElementById("myDiv").style.display = "block";
			}
</script>

	
    </body>

</html>