{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
<div id="loader"></div>
    <div  id="myDiv" class="schedule-container" style="display:none;">
		<h1 id="stats" style="color: #ff1f1f ">Status</h1>
		<button type="button" onclick= "myFunction();">Click to change style</button>
		 <button class="accordion">Personal Data</button>
			<div class="panel">
			<p>Nama : Ananda Daffa S.I.</p>
			</div>

			<button class="accordion">Address</button>
			<div class="panel">
			<p>Jl. Juragan Sinda</p>
			</div>

			<button class="accordion">Academic</button>
			<div class="panel">
			<p>Belajar di Fakultas Ilmu Komputer UI</p>
			</div> 
			
        <div class="form-flex" id ="new-form">
            <form action="/status/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" type="submit" value="Post">
            </form>
        </div>
        <div class="event-container">
            {% for item in status %}
            <div class="event-flex">
                <div class="status-container">
                    <div class="status">{{ item.content }}</div>
                    <div class="name">{{ item.date }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <form action="/delete-all/">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete All Status">
        </form>
    </div>
</main>
{% endblock %}